/* ONLY CSS */
body, html {
	margin: 0 auto;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}


.commenTxt {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.frontTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
	font-weight: 800;
	letter-spacing: 2px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.frontTxt {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.container-lg {
	max-width: 1400px;
	text-align: center;
	margin: auto;
}


/* Gradient background in the top */
.stripes {
  display: grid;
  grid: repeat(5, 190px) / repeat(10, 1fr);
  background: linear-gradient(to top, #a6ffcb, #12d8fa, #1fa2ff);
}

.stripes :nth-child(1) {
  grid-column: span 2;
}

.stripes :nth-child(2) {
  grid-area: 3 / span 2 / auto / -1;
}

.stripes :nth-child(3) {
  grid-row: 4;
  grid-column: span 3;
}

.stripes {
  transform: skewY(-11deg);
  transform-origin: 0;
  z-index: -1;
  position: relative;
}

.globalNav {
	position: absolute;
	z-index: 1;
}

.globalNav li {
	display: inline;
	cursor: pointer;
}

#intro .container-lg {
	z-index: 1;
	position: absolute;
	left: 10%;
	top: 20%;
	text-align: left;
}

#aboutMe .container-lg {
	margin: auto;
}

.aboutTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
	font-weight: 800;
	letter-spacing: 2px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.aboutTxt {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

#aboutMe .commenTxt, .aboutTxt, .aboutTitle {
	margin: auto;
	text-align: left;
	margin-top: 5%;
}

#aboutMePhoto {
}

#myPhoto {
	width: 100%;
	margin-top: -10%;
}


#footerSoMe .footerTxt {
	width: 100%;
	text-align: center;
}

#portfolioMe {
	margin-top: 10%;
	float: right;
}

.portfolioTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
	font-weight: 800;
	letter-spacing: 2px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: right;
}

.portfolioTxt {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.portfolioPhoto {
	width: 675px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

#hautefriture, #hautefritureTxt {
	margin-top: 25%;
}

.portleftTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
	font-weight: 800;
	letter-spacing: 2px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: left;
}

.portleftTxt {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	text-align: left;
}

#hautefritureTxt .commenTxt {
	text-align: left;
}

#njordex, #njordexTxt {
	margin-top: 25%;
}

.portrightTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
	font-weight: 800;
	letter-spacing: 2px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: right;
}

.portrightTxt {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	text-align: right;
}

#njordexTxt .commenTxt {
	text-align: right;
}

#nordnordnordTxt .commenTxt {
	text-align: left;
}

#nordnordnord, #nordnordnordTxt {
	margin-top: 25%;
}

.contactTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
	font-weight: 800;
	letter-spacing: 2px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}

.contactTxt {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	text-align: center;
}

#contactMe {
	margin-top: 7%;
}

#contactMe, .commenTxt {
	text-align: center;
}

/* CSS Grid S */

.item1 { grid-area: text; }
.item2 { grid-area: image; }
.item3 { grid-area: portfolio }
.item4 { grid-area: port1text }
.item5 { grid-area: port1image }
.item6 { grid-area: port2text }
.item7 { grid-area: port2image }
.item8 { grid-area: port3image }
.item9 { grid-area: port3text }
.item10 { grid-area: contact; }


.grid-container {
  display: grid;
  grid-template-areas:
  'text image'
  'portfolio portfolio'
  'port1image port1text'
  'port2text port2image'
  'port3image port3text'
  'contact contact';
  /*grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px; */
}

.grid-container > div {
   /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  /* padding: 10px; */
}